@using System.Security.Claims;

<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            
            @foreach(var c in User.Claims)
            { 
            <span class="navbar-text text-dark">Hello @c.Value!</span>
            }
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="LogOut">Sign out</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="LogIn">Sign in</a>
        </li>
    }
</ul>
