@model IEnumerable<ReviewApp.Domain.Customer>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Review App</h1>
    <p>We are here to give you the best choice</p>
</div>
<table>
    <thead>
        <tr>
            <th>Customer Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.UserName</td>
            </tr>
        }
    </tbody>
</table>

